---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Malhar's Portfolio">
  <main class="text-white lg:text-2xl text-md p-4">
    <div
      class="xl:mt-20 md:mt-8 grid xl:grid-cols-2 grid-cols-1 gap-16 h-auto items-center justify-items-center"
    >
      <div class="h-fit">
        <h1
          class="xl:text-5xl text-4xl text-center drop-shadow-[0px_0px_55px_rgba(98,39,245,1)]"
        >
          Hey 👋, I am <br /> Malhar Bhuptani
        </h1>
        <div id="typed-strings">
          <p>
            I am a <strong style="color: #32cd32">Full Stack Developer</strong>.
            <br />
            I <em>work</em> with Astro, React, GraphQL, node.
          </p>
        </div>
        <div class="min-h-16 text-center mt-6"><span id="typed"></span></div>
      </div>
      <div class="lg:w-6/12 md:w-7/12 w-9/12">
        <!-- <Image alt="profile-pic" src={}/> -->
		<a href="/about">
        <img
          transition:name="profile-pic"
          src="/profile_pic.jpg"
          class="w-10/12 m-auto opacity-95 rounded-3xl shadow-[6px_6px_20px_-2px_rgb(156,163,175,0.6)]"
          alt="Profile_Pic"
        />
	</a>
      </div>
    </div>
    <div class="flex justify-center lg:mt-32 mt-20">
      <a href="/about">
        <button
          class="content-center bg-indigo-500 hover:bg-indigo-400 text-white font-bold py-2 px-4 border-b-8 border-indigo-900 hover:border-indigo-500 rounded-xl"
        >
          Know More About Me!
        </button>
      </a>
    </div>
  </main>
</Layout>

<script>
  import Typed from "typed.js";

  new Typed("#typed", {
        stringsElement: "#typed-strings",
        typeSpeed: 55,
        loop: true,
      })

  document.addEventListener(
    "astro:after-swap",
    () =>
      new Typed("#typed", {
        stringsElement: "#typed-strings",
        typeSpeed: 55,
        loop: true,
      })
  );
</script>
