---
interface Props {
	year: string;
	companyName: string;
	role: string;
	jobDescription: string
	href?: string;
}

const { year, companyName, role, jobDescription, href: _href } = Astro.props;
---

<div class="container w-full h-full">
	<div class="relative wrap overflow-hidden h-full">
	  <div
		class="absolute border-opacity-60 border-gray-200 h-full border xl:left-[3%] left-[9%]"
		 
	  >
	  </div>
	  <!-- timeline card -->
	  <div
		class="mb-8 flex justify-evenly items-center w-full right-timeline bg-[linear-gradient(#000, #000) no-repeat center/2px 100%]"
	  >
		<div
		  class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-10 h-10 rounded-full"
		>
		  <h1 class="mx-auto font-semibold text-lg text-white">{year}</h1>
		</div>
		<div
		  class="order-1 bg-gray-400 rounded-lg shadow-xl xl:w-11/12 w-9/12 px-6 py-4"
		>
		  <h3 class="mb-1 font-bold text-gray-800 text-xl">
			{companyName}
		  </h3>
		  <h4 class="mb-2 font-semibold text-gray-600 text-lg">
			{role}
		  </h4>
		  <p
			class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100"
		  >
			{jobDescription}
		  </p>
		</div>
	  </div>
	</div>
  </div>
